__pycache__
*/__pycache__
my_scripts/*
plots_to_sort/*
sink_ML/Sink_timeseries_Diffusion/runs/*
sink_ML/Sink_timeseries_Diffusion/models/*
trash/*
*.pth
*png
*jpg
.*swp
*h5
*json
*csv
*pkl
*pickle
msu23
